p {
  text-align: justify;
  font-size: 20px;
  margin-top: 5px;
  font-family: serif;
}
h3 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: chartreuse;
}
body {
  margin: 3px 0px 15px 10px;
  background-color: cadetblue;
  font-size: 18px;
}
h5 {
  font-family: cursive;
  text-align: center;
  color: rgb(0, 49, 49);
}
img {
  width: 75%;
  margin: auto;
  display: block;
  border-radius: 10px;
}
img:hover {
  cursor: pointer;
}
button {
  width: 15%;
  margin: auto;
  margin-top: 10px;
  padding: 5px;
  display: block;
  border-radius: 20px;
  color: aqua;
  font-size: 15px;
  background-color: black;
}
button:hover {
  background-color: rgb(79, 47, 195);
  color: rgb(255, 253, 253);
  cursor: pointer;
}
